<h1> Tacos </h1>

<p>Let's eat delish tacos!</p>
<p> Love me some tacos </p>

<% tacos = ["Carnitas", "Steak", "Veggie", "Fish", "Duck"] %>

<p> There are <%=tacos.count %> tacos </p>

<ul> 
  <% for taco in tacos %>
  <li><%=taco %></li>
  <% end %>
  
</u>